/*
 * author: Shuya Fuchigami, 554092 and Sebastian Braun, 549301
 *
 *
 */

/*======================== UPLOAD AND DROP CONTAINER =================*/

#uploaderContainer {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#drop_zone_container {
    width: 45%;
    float: left;
    margin: 1% 7% 6% 6%;
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    font-size: 18pt;
    font-family: Verdana, serif;
    color: #bbb;
}

#drop_zone_message {
    margin: 1% 2% 3% 1%;
    display: inline-block;
    white-space: nowrap;
    font-weight: bold;
}

#drop_zone.is-dragover {
    background-color: rgb(237, 243, 250);
    border-color: black
}

.drop_zone_message_container {
    position: relative;
    top: 50%;
    width: 88%;
    margin: 1% 0% 0% 6%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1.5rem;
    border-top: solid 1px #000;
    border-radius: 10px;
    background: none;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    box-sizing: border-box;
}

/*======================== DELETION, EDITING =================*/

#selectFileButton {
    display: none;
}

#editCancelButton {
    visibility: hidden;
}

#deleteCancelButton {
    visibility: hidden;
}

#deleteConfirmButton {
    visibility: hidden;
}

.toBeDeletedSong {
    color: lightskyblue;
    font-weight: bold;
}

/*======================== TABLE ===============================*/

#songSelectorTable {
    border: 1px solid #ccc;
}

/*======================== TOOLTIP ===============================*/

[tooltip]:before {

    /* DON'T TOUCH :) */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.3s ease-in-out;
    padding: 10px;
    color: rgba(255,255,255, 0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

[tooltip]:hover:before {
    opacity: 1;

    /* customizable */
    background: rgba(0,0,0,0.3);
    margin-top: -50px;
    margin-left: 20px;
}

[tooltip]:not([tooltip-persistent]):before {

    /* DON'T TOUCH :) */
    pointer-events: none;
}

/*================== POP UP =======================*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 900;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: relative;
    margin: 10px auto;
    padding: 10px;
    background: #161616;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    z-index: 800;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 5%;
    right: 10%;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #999;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 100%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}



