body {
    height: 100vh;
    background: -webkit-radial-gradient(center ellipse, #564c84 0%, #0c0b17 100%);
    background: radial-gradient(ellipse at center, #564c84 0%, #0c0b17 100%);
    color: #888;
}

h1 {
    text-align: center;
}

#audioDropPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 5%;
    padding: 0% 3% 3% 3%;
    -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    width: 45%;
    height: 90%;
    background: -webkit-radial-gradient(center ellipse, #444 0%, #111 100%);
    background: radial-gradient(ellipse at center, #444 0%, #111 100%);
    box-shadow: 0 30px 20px -20px #000;
    box-sizing: border-box;
    border-radius: 10px;
}

/*================== SEPERATOR AND SPACES ==================*/

.space {
    padding-bottom: 10px;
}

.padding {
    padding: 10px;
}
/*================== COLORS ================================*/

.red {
    background-Color: red;
  }

.skyblue {
    background-Color: skyblue
}

/*=================== BUTTONS =============================*/

.myButton {
	background-color:#44c767;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-right: 10px;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*======================== UPLOAD AND DROP CONTAINER =================*/

#uploaderContainer {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

#drop_zone_container {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
  }

#drop_zone.is-dragover
  {
      background-color: rgb(237, 243, 250);
      border-color: black 
  }

