/*
 *
 * author: Sebastian Braun, 549301
 *
 */

/*===============================================*/
/*                  GLOBAL STYLE                 */
/*===============================================*/

/*----------------------------------------------------------------------------------------
                                Eric Meyer's Reset CSS v2.0
--------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.space {
    padding-bottom: 10px;
}

.space_top {
    padding-top: 10px;
}

.padding {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.hidden {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.fullHeight {
    height: 90%;
}

body {
    height: 100vh;
    background: -webkit-radial-gradient(center ellipse, #564c84 0%, #0c0b17 100%);
    background: radial-gradient(ellipse at center, #564c84 0%, #0c0b17 100%);
    color: #888;
    overflow-y:scroll;
}

/*================================ MEDIA PLAYER AND SONG LIST =============================*/

.mediaplayer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: -webkit-radial-gradient(center ellipse, #444 0%, #111 100%);
    background: radial-gradient(ellipse at center, #444 0%, #111 100%);
    box-shadow: 0 30px 20px -20px #000;
    box-sizing: border-box;
    border-radius: 10px;
}

.musicList {
    position: absolute;
    top: 121%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    padding: 2%;
    margin-bottom: 5%;
    background: -webkit-radial-gradient(center ellipse, #444 0%, #111 100%);
    background: radial-gradient(ellipse at center, #444 0%, #111 100%);
    box-shadow: 0 30px 20px -20px #000;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    transition: height 200ms;
}

/*===============================================*/
/*                  HEADER                       */
/*===============================================*/

header {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    clear: both;
    box-sizing: border-box;
}

header .playlist {
    float: left;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

header .playlist:hover {
    opacity: 1;
    transition: opacity 0.3s ease;
}

header .setting {
    float: right;
    cursor: pointer;
}

/*header .setting:hover {*/
/*    color: white;*/
/*    transition: color 1s ease;*/
/*}*/

/******************* VOLUME BAR ****************/

header .volume {
    position: relative;
    float: right;
    width: 45%;
    height: 2rem;
    cursor: pointer;
    margin-right: -2%;
    margin-top: -1%;
}

header .volume .volumeBG {
    position: relative;
    top: 50%;
    float: right;
    width: 85%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1rem;
    border-top: solid 1px #000;
    border-radius: 10px;
    background: none;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    box-sizing: border-box;
}

header .volume .volumeLine {
    top: 50%;
    float: right;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    height: 0.5rem;
    border-radius: 10px;
    width: 45%;
    background: #a900ff;
    box-shadow: 0 0 2px 2px #a900ff;
    margin-left: 17%;
}

header .volume .volumeIcon {
    float: left;
    width: 15%;
}


/*===============================================*/
/*                  MAIN                         */
/*===============================================*/

main {
    clear: both;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

main .album-art {
    margin-top: 2%;
    float: left;
    padding: 0.5rem;
    background: #222;
    border-radius: 8px;
}

main .album-art .frame {
    width: 220px;
    height: 150px;
    box-sizing: border-box;
}

main .player {
    position: relative;
    float: right;
    width: 176px;
    height: 176px;
    background: -webkit-linear-gradient(bottom, #222, #111);
    background: linear-gradient(0deg, #222, #111);
    border-radius: 100%;
    border: solid 2px #000;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 4px 2px rgba(0, 0, 0, 0.2);
}

main .player .buttons {
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

main .player .buttons.play {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 88px;
    height: 88px;
    border: solid 2px #000;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    line-height: 88px;
    text-align: center;
    background: -webkit-linear-gradient(bottom, #111, #222);
    background: linear-gradient(0deg, #111, #222);
    opacity: 0.5;
}

main .player .buttons.pause {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 88px;
    height: 88px;
    border: solid 2px #000;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    line-height: 88px;
    text-align: center;
    background: -webkit-linear-gradient(bottom, #111, #222);
    background: linear-gradient(0deg, #111, #222);
    opacity: 0.5;
}

main .player .buttons.repeat {
    top: -1%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

main .player .buttons.repeatActive {
    top: -1%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    opacity: 1;
}

main .player .buttons.fast-backward {
    top: 50%;
    left: -1%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

main .player .buttons.fast-forward {
    top: 50%;
    left: 73%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

main .player .buttons.random {
    top: 74%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

main .player .buttons.randomActive {
    top: 74%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    opacity: 1;
}

main .title {
    text-align: center;
    padding-bottom: 0.5rem;
}



/*************** HOVER FOR PLAYER BUTTONS ****************/

main .player .buttons.play:hover {
    opacity: 1;
    box-shadow: 0 0 2px 2px #a900ff;
}

main .player .buttons.random:hover {
    opacity: 1;
}

main .player .buttons.fast-backward:hover {
    opacity: 1;
}

main .player .buttons.fast-forward:hover {
    opacity: 1;
}

main .player .buttons.repeat:hover {
    opacity: 1;
}

main .player .buttons.pause:hover {
    opacity: 1;
}

/*===============================================*/
/*                  FOOTER                       */
/*===============================================*/

footer {
    clear: both;
    padding: 2rem 2rem;
    color: #999;
    text-shadow: 2px 2px #111;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

#audioInformationFrame{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-align: center;
    line-height: 1.5em;
    font-size: 16px;
}

#audioInformation {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
    font-weight: bold;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


footer .title {
    text-align: center;
    padding-bottom: 0.5rem;
}

footer .time-tracker {
    border-top: solid 1px #000;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    padding-top: 0.5rem;
    box-sizing: border-box;
}

footer .time-tracker .timer {
    position: relative;
    float: left;
    width: 80%;
    height: 2rem;
    cursor: pointer;
}

footer .time-tracker .timer .bg {
    position: relative;
    top: 50%;
    width: 100%;
    margin-right: 0.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1rem;
    border-top: solid 1px #000;
    border-radius: 10px;
    background: none;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    box-sizing: border-box;
}

footer .time-tracker .timer .bgStart {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    height: 0.5rem;
    border-radius: 10px;
    background: #a900ff;
    box-shadow: 0 0 2px 2px #a900ff;
    margin-left: 1%;
}

footer #audioPlayBackProgressCounter {
    float: right;
    width: 10%;
    margin-right: 5%;
    line-height: 2rem;
}

